body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .tabs {
    display: flex;
    width: 100%;
  }

  .tab {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    background-color: #f0f0f0; 
    transition: background-color 0.3s;
    font-size: large;
    font-weight: bold;
    

  }

  .tab:hover {
      background-color: transparent !important;
  }

  .tab-text {
    color: blue;
    transition: color 0.3s;
  }

  .tab:hover .tab-text,
  .active-tab .tab-text {
    color: orange; 
  }

  .active-tab {
    background-color: transparent; 
    border-bottom: none;
  }

  .active-tab .tab-text {
    color: green;
  }

  .text-area {
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    border-top: none;
  }